@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(135deg,  #3498DB 0%, #2C3E50 150%);
  }
  
/* Custom Scrollbar Styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #2C3E50 0%, #3498DB 100%);
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #E67E22;
  border-radius: 10px;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #E67E22 #2C3E50;
}
